@import url(font.css);

* {
  font-family: "Rubik-Regular";
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
body {
  background: #e5e5e5;
}

.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
header {
  padding: 30px 0;
}
.header__content {
  background: url(../img/Фон.png) rgba(255, 255, 255, 0.7) no-repeat center
    center / cover;
  height: 500px;
  border-radius: 14px;
}

.header__content_desc {
  width: 332px;
  padding: 111px 0;
  margin-left: 62px;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.header__link {
  background: #3fa5d5;
  border-radius: 30px;
  color: white;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  max-width: max-content;
  padding: 7px 62px;
  margin-bottom: 19px;
}

.header__h1 {
  font-family: "Rubik-Bold";
  color: #464748;
  line-height: 59px;
  font-size: 50px;
  position: relative;
  z-index: 1;
}

.header__text {
  line-height: 19px;
  text-align: justify;
  color: #696868;
}

.header__h1::before {
  content: "";
  width: 100px;
  height: 50px;
  background: rgb(2, 184, 240);
  position: absolute;
  z-index: -1;
  left: 10px;
  top: 40px;
}

.card {
  width: 255px;
  min-height: 338px;
  background: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
}

.card__h2 {
  font-family: "Rubik-Bold";
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #2a86b1;
  padding-top: 32px;
}

.cards {
  margin-bottom: 48px;
  display: flex;
  justify-content: space-between;
}

.info__box {
  padding: 48px 0 44px;
  display: flex;
  justify-content: space-between;
}
.info__box-h3 {
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 22px;
  margin-left: 18px;
  color: #686868;
}

.info__box-left {
  width: 825px;
}

.info__box-p {
  background: white;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
  color: #545454;
  line-height: 20.5px;
}

.mix {
  width: 255px;
  background: white;
  display: flex;
  border-radius: 8px;
  margin-bottom: 15px;
  padding: 15px;
}
.mix__mini {
  margin-left: 15px;
}

.image {
  object-fit: contain;
}
.mix__mini-h4 {
  font-size: 17px;
  padding-bottom: 5px;
}

.mix__mini-p {
  line-height: 12px;
}

footer {
  background: #3fa5d5;
  width: 100%;
  color: white;
  padding: 40px 0;
}

.footer_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h5 {
  font-size: 50px;
  font-family: "Rubik-Bold";
}
p {
  margin-top: 15px;
}
